.profile-component {
  background-color: var( --surface );
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 4vw;
}
.profile-component-header {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--secondary-light);
  z-index: 1;
}
.profile-component-header > h5 {
  margin: 0;
  vertical-align: center;
}
.profile-component-body {
  padding-top: 7.5px;
}
