.AddAssignmentForm {
    border: 2px solid #ff8c00;
    display: grid;
    width: 80%;
    margin: 0 auto;
    padding: 4%;
    margin-bottom: 2%;
}

.heading {
  color: #ff8c00;
  margin: 0 auto;
  margin-top: 2%;
  font-size: 2.5vw;
}

.error {
  color: #f90000;
}

label {
  color: #1a2e53;
}

.button-class {
  display: flex;
  justify-content: space-between;
}
