.resume {
  width: 90vw;
  margin: 5vw 5vw;
}
.companyLogo {
  width: 30%;
}
.resumeImage{
  justify-self: center;
  height:100%;
  border-radius: none;
  
}
.descriptionContainer {
  display: grid;
  grid-template-columns: 35% 60%;
  /* grid-column-gap: 5vw; */
}
.fullName {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.5cm;
}
.bio {
  margin-top: 2vw;
}
.portfolioLinks {
  margin-top: 3vw;
}
.linkName {
  font-weight: bolder;
}
