.buttons {
  padding-top: 20px;
}
.btn-previous {
  margin-right: 20px;
  padding: 3px 5px;
}
.btn-next {
  margin-right: 20px;
  padding: 3px 5px;
}
.btn-submit {
  padding: 3px 5px;
}
.profile-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  height: 6vw;
  margin-bottom: 30px;
}
.profile-tab {
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  background: var(--surface);
}
.profile-tab:hover {
  background-color: var(--surface);
}
.profile-tab:active, .profile-tab:focus{
  background-color: var(--active-light);
}
.error {
  color: var(--error);
}
.form-body {
  padding: 1% 10%;
}
.btn-add {
  margin-bottom: 2%;
}
.education {
  margin-top: 5%;
}
