.background img {
  width: 55%;
  padding: 20px 32px 10px;
}
.sidenav div,
.sidenav li span {
  color: var(--on-dark);
  line-height: 25px;
  font-size: 1.3em;
  font-weight: 200;
}
.sidenav .circle {
  height: 130px;
  width: 130px;
}
.sidenav .user-info {
  background-color: var(--primary);
  padding: 30px;
}
.sidenav,
.background {
  background-color: var(--secondary-dark);
}
/* Notification bell in right upper corner */
.sidenav .user-info i {
  position: absolute;
  right: 20px;
}
.sidenav .user-name,
.sidenav .user-check-status,
.sidenav li a span,
.sidenav .logout span {
  font-variant: small-caps;
  text-transform: capitalize;
}
/* Switch for check in/out */
.switch {
  padding: 20px 0 10px 0;
}
.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: var(--active);
}
.switch label input[type="checkbox"]:checked + .lever {
  background-color: var(--active-light);
}
.switch label input[type="checkbox"] + .lever:after {
  background-color: var(--error);
}
.switch label input[type="checkbox"] + .lever {
  background-color: var(--error-light);
}
.switch label {
  display: flex;
  padding: 0 20px;
}
/* Icons for nav-links */
.sidenav li > a > #icons {
  color: var(--on-dark);
  font-size: 2.2em;
}
.sidenav li > a:hover #icons,
.sidenav .logout:hover .material-icons {
  color: var(--primary);
}
/* Logout section */
.sidenav .logout {
  bottom: 55px;
  position: fixed;
  width: 100%;
}
.sidenav .logout a {
  color: var(--on-dark);
  padding: 15px 32px;
  width: 100%;
}
.sidenav .logout .material-icons {
  color: var(--on-dark);
  margin: 0 32px 0 0;
  font-size: 1.5em;
  vertical-align: middle;
  width: 22px;
}
