.AddAssignmentForm {
  padding: 2%;
}
.heading {
  color: #ff8c00;
  margin: 0 auto;
  margin-top: 2%;
  font-size: 2.5vw;
}
label {
  color: #1a2e53;
}
.button-class {
  display: flex;
  justify-content: space-between;
}
.checkbox-label {
  font-size: 12px;
}
.assignment-form-body {
  width: 80%;
}
