time.icon {
  font-size: 0.45em;
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: var(--primary-light);
  margin: 1em;
  border-radius: 0.6em;
  overflow: hidden;
  transform-origin: 50% 10%;
}

time.icon * {
  display: block;
  width: 100%;
  font-size: 0.5em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong {
  position: absolute;
  top: 0;
  padding: 0.1vh;
  color: var(--surface);
  background-color: var(--secondary-light);
  border-bottom: 1px dashed var(--secondary);
  margin: 0;
  font-size: 1.8em;
}

time.icon span {
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding: 20px 0;
  color: var(--secondary-dark);
}

time.icon:hover,
time.icon:focus {
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg) skewY(0deg);
  }

  20% {
    -webkit-transform: rotate(12deg) skewY(4deg);
  }

  60% {
    -webkit-transform: rotate(-9deg) skewY(-3deg);
  }

  80% {
    -webkit-transform: rotate(6deg) skewY(-2deg);
  }

  100% {
    -webkit-transform: rotate(0deg) skewY(0deg);
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg) skewY(0deg);
  }

  20% {
    transform: rotate(12deg) skewY(4deg);
  }

  60% {
    transform: rotate(-9deg) skewY(-3deg);
  }
}

.event-list-detailed {
  background-color: var(--background);
  height: 100%;
  width: 100%;
}

.row-event {
  display: flex;
  padding: 7px 15px;
}

.row-event:hover,
.row-event-detailed:hover {
  background-color: var(--on-dark);
}

.col-details {
  width: 100%;
  padding: 1vh 0 0 2vw;
}

.bold-title {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.row-location {
  color: blueviolet;
}

.col-time-detailed.icon {
  font-size: 0.45em;
  display: block;
  position: relative;
  width: 20em;
  height: 25em;
  background-color: var(--primary-light);
  margin: 1em;
  border-radius: 0.6em;
  overflow: hidden;
  transform-origin: 50% 10%;
}

.col-time-time.icon * {
  display: block;
  width: 100%;
  font-size: 2.5em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.col-time-detailed.icon strong {
  position: absolute;
  top: 0;
  padding: 0.1vh;
  color: var(--surface);
  background-color: var(--secondary-light);
  border-bottom: 1px dashed var(--secondary);
  margin: 0;
  font-size: 4.5em;
}

.col-time-detailed.icon span {
  width: 100%;
  font-size: 12em;
  letter-spacing: -0.05em;
  padding: 40px 0;
  color: var(--secondary-dark);
}

.col-details-detailed {
  font-size: 1.5em;
  padding-left: 50px;
  padding-bottom: 10px;
}

.row-event-detailed {
  display: flex;
  padding: 10px 20px;
}