.row-event {
  display: flex;
  padding: 7px 15px;
}

.row-event:hover {
 background-color: var(--on-dark);
}
.col-details {
  width: 100%;
  padding: 1vh 0 0 2vw;
}

.bold-title {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.row-location {
  color: blueviolet;
}
