:root {
  --primary: #ff8c00;
  --primary-dark: #d16900;
  --primary-light: #ffa245;

  --secondary: #1a2e53;
  --secondary-dark: #04183c;
  --secondary-light: #5f6086;

  --surface: #f1ede6;
  --background: #e3dccd;

  --error: #f90000;

  --on-dark: #f8f6f2;
  --on-light: #131210;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.component-template {
  background-color: white;
  position: relative;
}
.component-template-header {
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: var(--secondary-dark);
  color: var(--on-dark);
}
.zoom_out_map {
  color: var(--on-dark);
}
.search-bar {
  display: flex;
  justify-content: flex-end;
}
