.dashboard-component {
  background-color: var(--surface);
  height: 100%;
  width: 100%;
  display:grid;
  grid-template-rows: 90% 10%;
}

/* width */
::-webkit-scrollbar {
  width: 0.25vw;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary-dark); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary); 
}

.dashboard-component-footer {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color:var(--secondary-dark);
}

.dashboard-component-body{
  padding-top:7.5px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
