.PageGrid {
  display: grid;
  grid-template-columns: minmax(5em, 1fr) minmax(5em, 1fr);
  grid-auto-rows: 44%;
  grid-gap: 2vw;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media screen and (max-width: 992px) {
  .PageGrid {
    grid-template-columns: 1fr;
    grid-auto-rows: 60%;
  }
}
