.logo-container {
  text-align: center;
}

.logo {
  height: 60%;
  width: 60%;
}

.forgot-pw {
  display: block;
  margin-bottom: 15px;
}

.background {
  background: url('https://s3.eu-west-2.amazonaws.com/integrify-system-assets/background-img.jpg')
    no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
