.Dashboard-header{
  overflow:hidden;
  height: 100%;
  padding-bottom: 0.5vw;
}
.Dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 44% 44%;
  grid-gap: 2vw;
  padding: 20px;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .Dashboard {
    grid-template-columns: 1fr;
    grid-auto-rows: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
