:root {
  --primary: #ff8c00;
  --primary-dark: #d16900;
  --primary-light: #ffa245;

  --secondary: #1a2e53;
  --secondary-dark: #04183c;
  --secondary-light: #5f6086;

  --surface: #f4f4f4;
  --background: #f1ede6;

  --error: #f90000;
  --error-light: #e57373;

  --active: #1b5e20;
  --active-light: #66bb6a;

  --disabled: #949494;
  --disabled-light: #e0e0e0;

  --on-dark: #f8f6f2;
  --on-light: #131210;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.bold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.App {
  height: 100vh;
}
.App-body {
  background-color: var(--background);
  padding-left: 300px;
  height: 100vh;
}
@media only screen and (max-width: 992px) {
  .App-body {
    padding-left: 0;
  }
}
