.row-studysync {
  margin-bottom: 0;
  display: flex;
  padding: 0px 15px;
}
.row-studysync:hover {
  background-color: var(--on-hover);
}
.row > p {
  margin: 0;
}
.col-title {
  width: 100%;
  padding: 1vh 0 0 2vw;
}
.col-title .row {
  margin-bottom: 0;
}
.title > span {
  margin: 0;
}
